.item-in {
    background: #fff;
    padding: 40px;
    position: relative;
}
.item-in:hover::before {
    width: 100%;
}
.item-in::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 0%;
    background: #333333;
    right: 0px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
}
h4 {
        font-size: 18px;
        margin-top: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
}
p {
    font-size: 12px;
}
a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
    margin-top: 10px;
}